/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main css starts here */
html{
    font-size: 16px;
}
body{
    font-family: 'Dancing Script', cursive;
    /*background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../a1.jpg);*/
    /* background-attachment: fixed; */
    background-image: url(../retro.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.timeDisplay{
    display: flex;
    flex-direction: row;
    max-width: 
    }
.timeDigit{
    color: white;
    padding: 1rem;
    font-size: 2rem;
}
.timeText{
    color: white;
}

.twitter{
    justify-content: flex-end;
    /*color: #27a361;*/
    color: #03fc07;
    font-size: 1.3rem;
    padding: 1rem 0;
    text-decoration: none;
    letter-spacing: 0.6;
    font-weight: bolder;
}
.twitter:hover {
    font-size: 2rem;

}
.topDiv{
    display: flex;
    flex-direction: column;

}

.main-wrapper{
    padding: 2rem;
    max-width: 70rem;
    margin: 0 auto;
    /* background: grey; */
    /* display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center; 
    text-align: center;
}
.quote-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.quote-wrapper h2{
    font-size: 4rem;
    /*color:#34b7eb;*/
    color: #f7fbfc;
    font-weight: bold;  
}
.learn-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}
.ul1{
    padding: 0 2rem;
    font-size: 2rem;
    color: white;
    background: transparent;
    margin-top:2rem;
    border: 1px solid white;
    border-radius: 2px;
    box-shadow: 14px -13px 0px rgba(255,255,255, 0.4);
     text-shadow: 2px 2px black;
}
.ul1 p{
    padding: 1rem 2rem;
}

.ul2{

    margin-top: 2rem;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: red;
    width: 10rem;

}
.topdiv{

}
/*todo*/
.todo-wrapper-all{
    max-width: 39.625rem;
    margin: 0 auto;
    padding-top: 1rem;
}
.input_todo{
    /*width: 35rem; */ 
    line-height: 3.5rem; 
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    /* box-shadow: -2px 5px 10px 1px lightgrey; */
    outline: none;
}

::placeholder{
    font-style: italic;
    
}
.ulist {
    opacity: 0.5;
    /*width: 39.625rem;   */
    text-align: center;
    font-size: 1rem;
    font-weight: medium;
    color: #ADA49D;

}
.prime_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border: 1px solid white;
    line-height: 3.5rem;
    max-width: 39.625rem;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    box-shadow: -2px 5px 10px 1px lightgrey;
    box-sizing: border-box;
}
.prime_list p{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.input_tick{
    border-radius: 50px;
}
.layout {
    display: none;
    border: 1px solid white;
    width: 39.625rem;
    line-height: 2rem;
    background: white;
    /* box-shadow: 0 -2px 1px rgba(0,0,0,0.03), rgba(0, 0, 0, 0.2) 0px 1px 1px 0px, rgb(246, 246, 246) 0px 8px 0px -3px, rgba(0, 0, 0, 0.2) 0px 9px 1px -3px, rgb(246, 246, 246) 0px 16px 0px -6px, rgba(0, 0, 0, 0.2) 0px 17px 2px -6px; */
    /* box-shadow: -2px 5px 10px 1px lightgrey, 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2); */
    content: '';
    /* box-shadow: 1px 5px 12px 4px rgba(0,0,0,0.03),1px 5px 12px 4px rgba(0,0,0,0.03), rgba(0, 0, 0, 0.2) 0px 1px 1px 0px, rgb(246, 246, 246) 0px 8px 0px -3px, rgba(0, 0, 0, 0.2) 0px 9px 1px -3px, rgb(246, 246, 246) 0px 16px 0px -6px, rgba(0, 0, 0, 0.2) 0px 17px 17px 0px; */
    box-shadow: 1px 5px 12px 4px rgba(0,0,0,0.03), -10px 25px 16px 8px rgba(0,0,0,0.03), rgba(0, 0, 0, 0.2) 0px 1px 1px 0px, rgb(246, 246, 246) 0px 8px 0px -3px, rgba(0, 0, 0, 0.2) 0px 9px 1px -3px, rgb(246, 246, 246) 0px 16px 0px -6px, rgba(0, 0, 0, 0.2) 0px 17px 17px 0px;
}

.layout_flex {
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    width: 39.625rem;
    line-height: 2.3rem;
    background: white;
    box-shadow: 1px 5px 12px 4px rgba(0,0,0,0.03), -10px 25px 16px 8px rgba(0,0,0,0.03), rgba(0, 0, 0, 0.2) 0px 1px 1px 0px, rgb(246, 246, 246) 0px 8px 0px -3px, rgba(0, 0, 0, 0.2) 0px 9px 1px -3px, rgb(246, 246, 246) 0px 16px 0px -6px, rgba(0, 0, 0, 0.2) 0px 17px 17px 0px;
    text-align: center;
    color: #474442;
    font-size: 0.8rem;
    
}
.select_all{
    color: #474442;
}
.div_input{
    background: white;
}
button{
    background:white; 
    color: #c06060;
    border: none;
    outline : none;
    box-shadow: none;
}
button:hover{
    color: red;
}
.cross:hover{
    color: red;
}
.cross {
    padding: 2px;
}
@media all and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .layout_flex {
    width: 99%;
  }
  body{
    background-size: unset;
    background-position: center;
}
.ul1, .quote-wrapper h2{
    color: black;
    text-shadow: 2px 2px white;
}
.timeDigit{
    color: black;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bolder;

}
.timeText{
    color: brown;
    font-weight: bolder;
}

}